body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
}

.outer{
    display: flex;
    justify-content: center;
}
.container{
    border-style: solid;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.5)),url(https://images.unsplash.com/photo-1542222780-b06f7307d2c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2tqYWNrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}

h1{
    color: black;
    font-size: 2rem;
}

p, h1{
    text-align: center;
    
}

p{
    font-size: 1.3rem;
}